.card-content{
    &::part(card) {
      padding: var(--spacing-inset-size-md);
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      cursor: pointer;
    }
    dsc-tag{
      margin-bottom: auto;
    }
    dsc-typography[component="heading"]{
      &::part(typography){
        font-weight: var(--font-weight-bold);
      }
      margin-bottom: var(--spacing-size-xxxs);
    }
    dsc-typography[component="paragraph"]{
      &::part(typography){
        line-height: var(--line-height-lg);
      }
    }
  }